.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a,
h1 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.hero {
  align-items: center;
  background-color: #191969;
  color: #fff;
  display: flex;
  height: 300px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.box.has-next div {
  background-color: #d42727 !important;
}

.box.has-next {
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  width: 1100px;
}

.box {
  background-color: #333;
  border-radius: 6px;
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 250px;
  min-height: 150px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: translateY(40px);
  transition: all .25s cubic-bezier(.175, .885, .32, 1.275);
  will-change: all;
}

.box:nth-child(4n+4) {
  margin-right: 0;
}

.box.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.box h1 {
  background-color: rgba(0, 0, 0, .39);
  color: #fff;
  font-size: 16pt;
  font-weight: 500;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.box div {
  background-color: purple;
  display: block;
  height: 150px;
  width: 250px;
}

.title {
  opacity: 0;
  padding: 30px;
  text-align: center;
  transform: translateY(30px);
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  will-change: all;
}

.title.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.title.fade-out {
  opacity: 0;
  transition: all 0s;
}
